

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EFF2F5 !important;
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

.hide_by_default{
  display: none;
}

.container {
  padding: 16px;
  background-color: #EFF2F5;
}

.input_form{
  padding: 16px;
  background-color: white;
  box-shadow: 0 apx 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  margin: 40px 0 0;
  border-radius: 8px;
}

#edit_button{
  margin: 8px 0;
  border-radius: 8px;
  position: relative;
  left: 370px;
  bottom: 15px;
}

.col-form-label:before{
  content: "* ";
  color: red;
}

.form-check-label:before{
  content: "* ";
  color: red;
}

.input_form .control-label:before {
   content:"*";
   color:red;
}

input[type=text1], input[type=password1] {
  width: 100%;
  padding: 10px;
  margin: 0px 0 22px 0;
  display: inline-block;
  background: #E7F1FE;
  border-radius: 8px;
  border: 1px solid #dddfe2;
}

input[type=text2], input[type=password1] {
  width: 100%;
  padding: 10px;
  /*margin: 0px 0 22px 0;*/
  display: inline-block;
  background: #E7F1FE;
  border-radius: 8px;
  border: 1px solid #dddfe2;
}

.form-check {
  margin: 6px 0 22px 0;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.loginbtn {
  background-color: #156FE4;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 8px;
}

.loginbtn:hover {
  opacity: 1;
}

.btn.btn-warning{
  margin: 5px;
}

.btn.btn-success{
  margin: 5px;
}

.btn.btn-danger{
  margin: 5px;
}

.addbtn {
  background-color: #36A420;
  color: white;
  padding: 12px 20px;
  margin: 0px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 8px;
}

.addbtn:hover {
  opacity: 1;
}

.updatebtn {
  background-color: #FFC106;
  color: white;
  padding: 12px 20px;
  margin: 0px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 8px;
}

.updatebtn:hover {
  opacity: 1;
}

.deletebtn {
  background-color: #C82332;
  color: white;
  padding: 12px 20px;
  margin: 0px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 8px;
}

.deletebtn:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.card-category {
  background-size: cover;
  background-position: center;
  /*height: 180px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn.btn-warning.btn-danger{
  margin: 5px;
}

.yellow-black{
  color:black;
  background-color: #FFFF00;
}

.orange{
  color:orange;
}

.green{
  color:green;
}

.far{
  color: white;
}

#edit_icon{
  position: absolute;
  right: 50px;
  bottom: 10px;
}

#edit_icon:hover{
  color: orange;
}

#delete_icon{
  position: absolute;
  right: 15px;
  bottom: 10px;
}

#delete_icon:hover{
  color: red;
}

.cards_main_page {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px;
  grid-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  padding-top: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.card{
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 30px 30px rgba(0,0,0,0.4);
  display: flex;
  align-items: end;
  font-size: 15px;
  text-align: left;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  background-image: linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),url(https://source.unsplash.com/900x900/?berlin);
}

#input_form_contact{
  color: black;
  font-weight: normal;
  text-shadow: none;
  font-size: 12px;
}

#exampleModalLabel{
  color: orange;
  font-weight: normal;
  text-shadow: none;
  font-size: 20px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin: 16px 0px;
}

.banner h1 {
  margin-left: 30px;
  margin: 10;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

h2{
  font-family: 'Lobster', cursive;
  width: 600px;
}

.nav{
  background: rgb(239,242,245);
  background: linear-gradient(90deg, rgba(239,242,245,1) 0%, rgba(255,255,255,1) 100%);
  height: 60px;
}

.greetings{
  position: relative;
  font-size: 50px;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
}

.banner p {
  margin-left: 30px;
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#map{
  width: 700px;
  height: 100vh;
  position: sticky;
  top: 0;
}

.content{
  display: flex;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .cards_main_page {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .cards_main_page {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .cards_main_page {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .cards_main_page {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .cards_main_page {
    grid-template-columns: 1fr 1fr;
  }
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin-top: 50px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  color: black;
  text-align: center;
}


