body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EFF2F5 !important;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  /*background-color: white;*/
  background-color: #EFF2F5;
}

.input_form{
  padding: 16px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  margin: 40px 0 0;
  border-radius: 8px;
}

.input_address_form{
  padding: 16px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  margin: 0px 0 0;
  border-radius: 8px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 0px 0 22px 0;
  display: inline-block;
  background: #E7F1FE;
  border-radius: 8px;
  border: 1px solid #dddfe2;
}

.form-check {
  /*padding: 10px;*/
  margin: 6px 0 22px 0;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.loginbtn {
  background-color: #156FE4;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.loginbtn:hover {
  opacity: 1;
}

.addbtn {
  background-color: #36A420;
  color: white;
  padding: 12px 20px;
  margin: 0px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 8px;
}

.addbtn:hover {
  opacity: 1;
}

.updatebtn {
  background-color: #FFC106;
  color: white;
  padding: 12px 20px;
  margin: 0px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 8px;
}

.updatebtn:hover {
  opacity: 1;
}

.deletebtn {
  background-color: #C82332;
  color: white;
  padding: 12px 20px;
  margin: 0px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 8px;
}

.deletebtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

