.all-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Add relative positioning */
  z-index: 100; /* Ensure map has a lower z-index */
}

.all-contacts__list {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
}

.all-contacts__map {
  width: 60%;
  height: 40rem;
  margin: 2rem 0;
}

/* Adjust map size for mobile devices */
@media (max-width: 768px) {
  .all-contacts__map {
    width: 100%;
    height: 30rem; /* Adjust the height as needed */
  }
}
