.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
  z-index: 200; /* Ensure the menu button is on top */
}

.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: white;
}

.main-navigation__title {
  color: white;
}

.main-navigation__title h1 {
  font-size: 1.5rem; /* smaller size for the main title */
  margin: 0; /* remove margin */
}

.main-navigation__title h2 {
  font-size: 1rem; /* smaller size for the subtitle */
  margin: 0; /* remove margin */
  padding-top: 0.5rem; /* reduce space between h1 and h2 */
}

.main-navigation__title a {
  text-decoration: none;
  color: white;
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
  z-index: 200; /* Ensure the drawer navigation is on top */
}

@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }

  .main-navigation__title h1 {
    font-size: 1.7rem; /* slightly larger on desktop */
  }

  .main-navigation__title h2 {
    font-size: 1rem; /* slightly larger on desktop */
  }


}
