.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
  z-index: 200; /* Ensure the menu button is on top */
}

button {
  background-color: transparent;
  color: #333;
  border: 1px solid #ccc;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: white;
}

.main-navigation__title {
  color: white;
}

.main-navigation__title h1 {
  font-size: 0.5rem; /* smaller size for the main title */
}

.main-navigation__title h2 {
  font-size: 0.2rem; /* smaller size for the subtitle */
}

.main-navigation__title a {
  text-decoration: none;
  color: white;
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
  z-index: 200; /* Ensure the drawer navigation is on top */
}

@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }

  .main-navigation__title h1 {
    font-size: 0.3rem; /* slightly larger on desktop */
  }

  .main-navigation__title h2 {
    font-size: 0.1rem; /* slightly larger on desktop */
  }


}
