.side-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  height: 100%;
  background: white;
  z-index: 300; /* Ensure the side drawer is on top */
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

/* Backdrop component should also have a high z-index */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 200;
}
